# Streamlit core
streamlit>=1.32
numpy
opencv-python-headless


# Machine learning and image processing
tensorflow==2.19.0
tf-keras
opencv-python-headless
numpy
pandas
matplotlib
deepface
mtcnn

# Plotting
plotly

# API and animation
requests
openai
streamlit-lottie

