pip>=25.1.1

# Core packages
streamlit
opencv-python-headless
tensorflow==2.19.0
tf-keras
numpy
pandas
matplotlib
requests
openai
plotly

# Face & emotion detection
deepface
mtcnn

# Streamlit extras
streamlit-lottie
streamlit-webrtc
